{% extends 'base.html' %}
{%block title%}Home Page{%endblock%}
{%block content%}
<div class="row border border-info">
	<div class="col-2">
		<div class="side-nav ">
			<div class="row bg-info p-3">
				<div class="col"><button class="btn btn-light text-info"><i class="fas fa-bars"></i></button></div>
				 
			</div>
			<div class="row bg-info p-5">
				<div class="col text-center">
					<div class="row">
						<div class="col px-5">
							<div class="p-5 border rounded-circle">pic</div>
						</div>
					</div>

					<div class="row">
						<div class="col p-3"><b>USER NAME</b></div>
					</div>

					<div class="row">
						<div class="col"><button class="btn btn-outline-light"><i class="fas fa-sign-out-alt"></i> LOGOUT</button></div>
					</div>
					
				</div>
			</div>
			<div class="row btn-outline-info p-3">
				<div class="col"><i class="fas fa-chart-pie"></i> ANALYTICS</div>
			</div>
			<div class="row btn-outline-info p-3">
				<div class="col"><i class="fas fa-user-circle"></i> STUDENTS</div>
			</div>
			<div class="row btn-outline-info p-3">
				<div class="col"><i class="fas fa-book"></i> SUBJECTS</div>
			</div>
			<div class="row btn-outline-info p-3">
				<div class="col"><i class="fas fa-stream"></i> EXAMS</div>
			</div>
			<div class="row btn-outline-info p-3">
				<div class="col"><i class="fas fa-user-graduate"></i> CAREERS</div>
			</div>
			<div class="row btn-outline-info p-3">
				<div class="col"><i class="fas fa-user-md"></i> ALUMNI</div>
			</div>
		</div>
	</div>
	<div class="col-6 border-left border-info">
		<div class="p-5">dddddddddddddddddddddd</div>
		<div class="p-5"></div>
		<div class="p-5"></div>
		<div class="p-5"></div>
		<div class="p-5"></div>
		<div class="p-5"></div>
		<div class="p-5"></div>
		<div class="p-5"></div>
		<div class="p-5"></div>
		<div class="p-5"></div>
	</div>
	<div class="col-2 border-left border-info text-info">
		<div class="p-3"><i class="fas fa-chevron-right"></i> <b>Anouncement</b></div>
		<div class="p-3"><i class="fas fa-chevron-right"></i> <b>Anouncement</b></div>
		<div class="p-3"><i class="fas fa-chevron-right"></i> <b>Anouncement</b></div>
		<div class="p-3"><i class="fas fa-chevron-right"></i> <b>Anouncement</b></div>
		<div class="p-3"><i class="fas fa-chevron-right"></i> <b>Anouncement</b></div>
		<div class="p-3"><i class="fas fa-chevron-right"></i> <b>Anouncement</b></div>
		<div class="p-3"><i class="fas fa-chevron-right"></i> <b>Anouncement</b></div>
		<div class="p-3"><i class="fas fa-chevron-right"></i> <b>Anouncement</b></div>
	</div>
</div>
{%endblock%}