<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<script src="{{ url_for('static', filename='main.js') }}"></script>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/4c9bf4cf75.js" crossorigin="anonymous"></script>
	
	<title>{%block title%}{%endblock%}</title>
</head>
<body onload="changeNav('{{page}}')">
	{% if nav=='landing' %}
		<nav class="navbar navbar-expand-lg navbar-dark bg-info">
		  <a class="navbar-brand" href="#"><i class="fas fa-university"></i> KNEC - LCBE</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  	<div class="mr-auto"></div>
		  	<ul class="navbar-nav">
		  		<li class="nav-item">
		  			<a href="{{ url_for('home') }}" class="nav-link active">HOME</a>
		  		</li>
			    <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PORTAL</a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="{{ url_for('student_login') }}">STUDENT</a>
			          <a class="dropdown-item" href="{{ url_for('admin_login') }}">TEACHER</a>
			        </div>
			    </li>
		  		<li class="nav-item">
		  			<a href="{{ url_for('events') }}" class="nav-link">EVENTS</a>
		  		</li>
		  		<li class="nav-item">
		  			<a href="{{ url_for('blogs') }}" class="nav-link">BLOGS</a>
		  		</li>
		  		<li class="nav-item">
		  			<a href="{{ url_for('contacts') }}" class="nav-link">CONTACTS</a>
		  		</li>
		  	</ul>

		  </div>
		</nav>
	{% elif nav=='dash' %}
		<nav class="navbar navbar-expand-lg navbar-dark bg-info">
		  <a class="navbar-brand" href="#"><i class="fas fa-university"></i> KNEC - LCBE</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  	<div class="mr-auto"></div>
		    <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
		    </form>
		  </div>
		</nav>
	{% endif %}

	{%block content%} {%endblock%}

	<div class="row bg-info text-white">
		<div class="col p-5">
			<div class="row">
				<div class="col p-5">
					<h1 class="display-1">KNEC LCBE</h1>
				</div>
				<div class="col p-5">
					<h1>Image Credits</h1>
					<a class="btn btn-outline-light my-1" target="_blank" href="https://learningportal.iiep.unesco.org/sites/default/files/2020-02/sub%20saharan%20africa%27s%20secondary%20education%20challenges.png">Carousel Image 1 <i class="fas fa-external-link-alt"></i></a>
					<a class="btn btn-outline-light my-1" target="_blank" href="https://www.farmtoschoolafrica.org/wp-content/uploads/2018/03/DSC_0471.jpg">Carousel Image 2 <i class="fas fa-external-link-alt"></i></a>
					<a class="btn btn-outline-light my-1" target="_blank" href="https://assets.mcc.gov/content/uploads/CDI-Wisci.jpg">Carousel Image 3 <i class="fas fa-external-link-alt"></i></a>
					<a class="btn btn-outline-light my-1" target="_blank" href="https://www.un.org/africarenewal/sites/www.un.org.africarenewal/files/styles/ar_paragraph_wide_photo/public/Classpic5.JPG?itok=icdLCxyk">Carousel Image 4 <i class="fas fa-external-link-alt"></i></a>
					<a class="btn btn-outline-light my-1" target="_blank" href="https://static1.squarespace.com/static/5644bc92e4b0d1606755bcbe/t/5e1f74d0e0174509f72fa664/1579119826142/Logan+High.jpg">Carousel Image 5 <i class="fas fa-external-link-alt"></i></a>
				</div>
				<div class="col p-5">
					<h1>Contacts</h1>
					<a class="btn btn-outline-light my-1" href="mailto:info@goodacademy.edu"><i class="fas fa-envelope"></i> info@goodacademy.edu <i class="fas fa-external-link-alt"></i></a>
					<p class="btn btn-outline-light"><i class="fas fa-phone-alt"></i> 678907865431</p>
					<p class="btn btn-outline-light"><i class="fas fa-phone-alt"></i> 678907865431</p>
					<p class="btn btn-outline-light"><i class="fas fa-phone-alt"></i> 678907865431</p>
				</div>
				<div class="col p-5">
					<h1>Social</h1>
					<a class="btn btn-outline-light my-1" href=""><i class="fab fa-instagram"></i> good_academy <i class="fas fa-external-link-alt"></i></a>
					<a class="btn btn-outline-light my-1" href=""><i class="fab fa-facebook"></i> good_academy <i class="fas fa-external-link-alt"></i></a>
					<a class="btn btn-outline-light my-1" href=""><i class="fab fa-twitter"></i> good_academy <i class="fas fa-external-link-alt"></i></a>
				</div>
			</div>
		</div>
	</div>



	
</body>
</html>