{% extends 'base.html' %}
{%block title%}Blogs{%endblock%}

{%block content%}

<div class="row my-5 justify-content-center">
	<div class="col-6">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title text-info">Blogs</h3>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title text-info">How career recommendation works</h3>
							</div>
							<div class="card-body">
								<strong class="text-info">Kaggle</strong><br><br>
								CareerBuilder.com is proud to sponsor the Job Recommendation Engine Challenge, which asks you to predict what jobs its users will apply to based on their previous applications, demographic information, and work history. The insights you discover from this data, and the algorithms the winners create, will allow CareerBuilder to improve its job recommendation algorithm, a core part of its website and a key element in improving user experience. <br><br>
								<a target="_blank" href="https://www.kaggle.com/c/job-recommendation" class="btn btn-outline-info"> VIEW ORIGINAL <i class="fas fa-external-link-alt"></i></a>
							</div>
						</div>
						<div class="card my-3">
							<div class="card-header">
								<h3 class="card-title text-info">Team Building Spirit</h3>
							</div>
							<div class="card-body">
								<strong class="text-info">Why Team Building works</strong><br><br>
								Team building in the workplace is the process of creating a team that is cohesively working together towards a common goal. The importance and main purpose of team building is to create a strong team through forming bonds and connections. Creating these bonds through team building is very beneficial to businesses and organizations. The benefits of team building include increased communication, planning skills, employee motivation, and employee collaboration.

								Fun activities that help people see each other in a different light allow them to connect in a different setting. People on your team are asked to think about the implications of these activities at their workplace.
								<br><br>
								<a target="_blank" href="https://www.teambonding.com/6-reasons-for-team-building/" class="btn btn-outline-info"> VIEW ORIGINAL <i class="fas fa-external-link-alt"></i></a>
							</div>
						</div>
						<div class="card my-3">
							<div class="card-header">
								<h3 class="card-title text-info">How to study</h3>
							</div>
							<div class="card-body">
								<strong class="text-info">Give yourself time</strong><br><br>
								Don't leave it until the last minute. While some students do seem to thrive on last-minute cramming, it's widely accepted that (for most of us) this is not the best way to approach an exam. To help sort out your time management, set up a timetable for your study. Write down how many exams you have and the days on which you have to sit them. Then organize your study accordingly. You may want to give some exams more study time than others, so find a balance that you feel comfortable with.
								<br><br>
								<a target="_blank" href="https://www.topuniversities.com/student-info/health-and-support/exam-preparation-ten-study-tips" class="btn btn-outline-info"> VIEW ORIGINAL <i class="fas fa-external-link-alt"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-3 mx-3">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title text-info"> Smart Sidebar</h3>
			</div>
			<div class="card-body">
				<ul class="list-group">
				  <li class="list-group-item d-flex justify-content-between align-items-center">
				    Latest Posts
				    <span class="badge badge-info badge-pill">0</span>
				  </li>
				  <li class="list-group-item d-flex justify-content-between align-items-center">
				    Anouncements
				    <span class="badge badge-info badge-pill">0</span>
				  </li>
				  <li class="list-group-item d-flex justify-content-between align-items-center">
				    Calendars
				    <span class="badge badge-info badge-pill">0</span>
				  </li>
				  <li class="list-group-item d-flex justify-content-between align-items-center">
				    Deadlines
				    <span class="badge badge-info badge-pill">0</span>
				  </li>
				  <li class="list-group-item d-flex justify-content-between align-items-center">
				    More
				    <span class="badge badge-info badge-pill">0</span>
				  </li>
				</ul>
			</div>
		</div>
	</div>
</div>


{%endblock%}
