{% extends 'base.html' %}
{%block title%}Contacts{%endblock%}

{%block content%}

<div class="row my-5 justify-content-center">
	<div class="col-6">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title text-info">Contacts</h3>
			</div>
			<div class="card-body">
				<p class="my-4"><strong class="text-info">Email:</strong> info@knec.lcbe.mail</p>
				<p class="my-4"><strong class="text-info">Contact:</strong> 98745089756</p>
				<p class="my-4"><strong class="text-info">Contact:</strong> 94959485684</p>
				<p class="my-4"><strong class="text-info">Contact:</strong> 88763476443</p>
				<p class="my-4"><strong class="text-info">Contact:</strong> 65349863498</p>
			</div>
		</div>
	</div>
</div>

{%endblock%}
