{% extends 'admin-dash.html' %}


{% block pagedata %}
{% if action=='read' %}
<div class="row">
	<div class="col p-3">
		<a class="btn float-right btn-outline-info" href="{{ url_for('students') }}"><i class="fas fa-list"></i> VIEW CURRENT STUDENTS</a>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<h3 class="card-title text-info">PREVIOUS STUDENTS</h3>

		{% for group in groups %}
		<div class="card my-3">
			<div class="card-header bg-info text-white" data-toggle="collapse" data-target="#{% print(group.id) %}" aria-expanded="false" aria-controls="{% print(group.id) %}">
				<h3 class="card-title">Class: {% print(group.year) %} <i class="fas fa-chevron-down float-right"></i></h3>
			</div>
			<div id="{% print(group.id) %}" class="collapse card-body table-responsive">
				{% if group.students|length > 0 %}
				<table class="table table-hover">
					<thead>
						<tr class="text-info">
							<th>FULL NAME</th><th>EMAIL</th><th>ACTIONS</th>
						</tr>
					</thead>
					<tbody>
						{% for student in group.students %}
						<tr>
							<td>{% print(student.user.first_name) %} {% print(student.user.middle_name) %} {% print(student.user.last_name) %}</td>
							<td>{% print(student.user.email) %}</td>
							<td>
								<a href="{{ url_for('update_student', id=student.id) }}" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top" title="EDIT"><i class="fas fa-user-edit"></i></a>
								<a href="{{ url_for('delete_student', id=student.id) }}" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="DELETE"><i class="fas fa-trash-alt"></i></a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<div class="card-body">
					<div class="alert alert-info">
						There are no students in this group
						<a class="float-right text-info" href="{{ url_for('create_student') }}"> <strong>add students <i class="fas fa-external-link-alt"></i></strong></a>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endif %}
{% endblock %}
