{% extends 'admin-dash.html' %}


{% block pagedata %}
{% if action=='create' %}
<div class="row">
	<div class="col p-3">
		<a class="btn float-right btn-outline-info mr-3" href="{{ url_for('students') }}"><i class="fas fa-list"></i> VIEW STUDENTS</a>
		<a class="btn float-right btn-outline-info mr-3" href="{{ url_for('create_group') }}"><i class="fas fa-plus"></i> ADD GROUP</a>
	</div>
</div>
<div class="card p-3">
	<div class="card-body text-primary">
		<h1 class="card-title text-info">Register New Student</h1>
	</div>
	<form class="card" method="post">
		{{ form.hidden_tag() }}
		<div class="card-body">
			<div class="alert alert-info">
				<i class="fas fa-info-circle"></i> The default password for new accounts is 'welcome'
			</div>
			<fieldset>
				<div class="form-group">
					{{ form.first_name.label(class='form-control-label') }}

					{% if form.first_name.errors %}
						{{ form.first_name(class='form-control is-invalid')}}
						<div class="invalid-feedback">
							{% for error in form.first_name.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else%}
						{{ form.first_name(class='form-control') }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.middle_name.label(class='form-control-label') }}

					{% if form.middle_name.errors %}
						{{ form.middle_name(class='form-control is-invalid')}}
						<div class="invalid-feedback">
							{% for error in form.middle_name.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else%}
						{{ form.middle_name(class='form-control') }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.last_name.label(class='form-control-label') }}

					{% if form.last_name.errors %}
						{{ form.last_name(class='form-control is-invalid')}}
						<div class="invalid-feedback">
							{% for error in form.last_name.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else%}
						{{ form.last_name(class='form-control') }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.email.label(class='form-control-label') }}

					{% if form.email.errors %}
						{{ form.email(class='form-control is-invalid')}}
						<div class="invalid-feedback">
							{% for error in form.email.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else%}
						{{ form.email(class='form-control') }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.group.label(class='form-control-label') }}

					{% if form.group.errors %}
						{{ form.group(class='form-control is-invalid')}}
						<div class="invalid-feedback">
							{% for error in form.group.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else%}
						{{ form.group(class='form-control') }}
					{% endif %}
				</div>
			</fieldset>
			<div>
				{{ form.submit(class='btn btn-info')}}
			</div>
			
			</div>
		</div>
	</form>
</div>

{% elif action=='read' %}
<div class="row">
	<div class="col p-3">
		<a class="btn float-right btn-outline-info mr-3" href="{{ url_for('create_student') }}"><i class="fas fa-plus"></i> ADD STUDENTS</a>
		<a class="btn float-right btn-outline-info mr-3" href="{{ url_for('create_group') }}"><i class="fas fa-plus"></i> ADD GROUP</a>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<h3 class="card-title">STUDENTS</h3>
		<div class="card">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>FULL NAME</th><th>EMAIL</th><th>CLASS</th><th>ACTIONS</th>
						</tr>
					</thead>
					<tbody>
						{% for student in students %}
						<tr>
							<td>{% print(student.first_name) %} {% print(student.middle_name) %} {% print(student.last_name) %}</td>
							<td>{% print(student.email) %}</td>
							<td>{% print(student.group.name) %}</td>
							<td>
								<a href="{{ url_for('update_student', id=student.id) }}" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top" title="EDIT"><i class="fas fa-user-edit"></i></a>
								<a href="{{ url_for('delete_student', id=student.id) }}" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="DELETE"><i class="fas fa-trash-alt"></i></a>
								<a href="students/view/{{ student.id }}" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top" title="MORE INFO"><i class="fas fa-eye"></i></a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% elif action=='update' %}

<div class="row">
	<div class="col p-3">
		<a class="btn float-right btn-outline-info mr-3" href="{{ url_for('students') }}"><i class="fas fa-list"></i> VIEW STUDENTS</a>
		<a class="btn float-right btn-outline-info mr-3" href="{{ url_for('create_group') }}"><i class="fas fa-plus"></i> ADD GROUP</a>
	</div>
</div>
<div class="card p-3">
	<div class="card-body text-primary">
		<h1 class="card-title text-info">Edit Profile</h1>
	</div>
	<form class="card" method="post">
		{{ form.hidden_tag() }}
		<div class="card-body">
			<div class="alert alert-info">
				<i class="fas fa-info-circle"></i> The default password for new accounts is 'welcome'
			</div>
			<fieldset>
				<div class="form-group">
					{{ form.first_name.label(class='form-control-label') }}

					{% if form.first_name.errors %}
						{{ form.first_name(class='form-control is-invalid')}}
						<div class="invalid-feedback">
							{% for error in form.first_name.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else%}
						{{ form.first_name(class='form-control') }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.middle_name.label(class='form-control-label') }}

					{% if form.middle_name.errors %}
						{{ form.middle_name(class='form-control is-invalid')}}
						<div class="invalid-feedback">
							{% for error in form.middle_name.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else%}
						{{ form.middle_name(class='form-control') }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.last_name.label(class='form-control-label') }}

					{% if form.last_name.errors %}
						{{ form.last_name(class='form-control is-invalid')}}
						<div class="invalid-feedback">
							{% for error in form.last_name.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else%}
						{{ form.last_name(class='form-control') }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.group.label(class='form-control-label') }}

					{% if form.group.errors %}
						{{ form.group(class='form-control is-invalid')}}
						<div class="invalid-feedback">
							{% for error in form.group.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else%}
						{{ form.group(class='form-control') }}
					{% endif %}
				</div>
			</fieldset>
			<div>
				{{ form.submit(class='btn btn-info')}}
			</div>
			
			</div>
		</div>
	</form>
</div>

{% elif action=='view' %}

{% endif %}
{% endblock %}
