::-moz-selection { /* Code for Firefox */
  color: white;
  background: teal;
}

::selection {
  color: white;
  background: teal;
}

.text-white ::-moz-selection {
  color: teal;
  background: white;
}

.text-white ::selection {
  color: teal;
  background: white;
}

.table thead tr th {
  vertical-align: top;
}